body{

font-family: Arial;

background: linear-gradient(to right,#2193b0,#6dd5ed);

display:flex;

justify-content:center;

align-items:center;

height:100vh;

margin:0;
}

.container{

background:white;

padding:30px;

border-radius:15px;

width:350px;

text-align:center;

box-shadow:0 0 15px rgba(0,0,0,0.2);
}

h1{

color:#2193b0;
}

input{

width:100%;

padding:12px;

margin-top:10px;

border-radius:8px;

border:1px solid #ccc;
}

button{

width:100%;

padding:12px;

margin-top:15px;

background:#2193b0;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

font-size:16px;
}

#qrcode{

margin-top:20px;
}